body,
html,
*>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--bs-primary);
}

.navbar-nav a {
    // background-color: var(--bs-primary);
    color: var(--bs-primary)
}